{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<section class="login-page valign-wrapper">
    <div class="login-box valign">
        <h1 class="logo">
            StudyShare <br> <span>Université Joseph Fournier - <strong>Filière GTE</strong></span>
        </h1>
        <p>Connectez-vous pour accéder à votre espace StudyShare</p>
        <form action="{{ path("fos_user_security_check") }}" method="post", id="LoginForm">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="input-field">
                <i class="material-icons prefix">perm_identity</i>
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </form>
    </div>
</section>

{% endblock fos_user_content %}
